nav{
    height:15px;
    background-color: coral;
}
nav a{
    text-decoration: none;
    color:pink;

}
footer{
    height:12px;
    background-color: beige;
}
footer a{
    text-decoration: none;
    color:mediumvioletred;
}
.copyr{
    color:lightsalmon;
}